
<app-nav-bar [opened]="menuOpened" (menuToggle)="setMenuState($event)"></app-nav-bar>

<div class="content-fluid">

  <app-full-banner></app-full-banner>

  <app-list-titles title="Adicionado recentemente" [list]="listTitles"></app-list-titles>
  <app-list-titles title="Em alta" [list]="listTitles"></app-list-titles>
  <app-list-titles title="Continuar assistindo como José Luan" [list]="listTitles"></app-list-titles>

</div>

<app-fotter></app-fotter>

<div class="backdrop" (click)="closeMenu()" *ngIf="menuOpened" ></div>
